rollout.ada.support
.sumologic.com
.datadoghq.com
firebaseinstallations.googleapis.com
firebasedynamiclinks.googleapis.com
firebasedynamiclinks-ipv4.googleapis.com
firebaseinappmessaging.googleapis.com
appleglobal.102.112.2o7.net
amp-api-edge.apps.apple.com
.akadns.net
.akamaiedge.net
vlscppe.microsoft.com
c.microsoft.com
mem.gfx.ms
.fastly.net
